<!-- 内容盒子 -->
	<div class="content_box">
		<!-- 轮播图栏 -->
		<div class="swiper-container slide_onebox">
	        <div class="swiper-wrapper slide_twobox" >
	            <div class="swiper-slide slide_threebox"> 
	            	<a href="http://www.baidu.com">
	            		<img ng-src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2790037154,143061155&fm=58" style="width: 100%;">
	            	</a>
	            </div>
	            <div class="swiper-slide slide_threebox">
	            	<a href="http://www.baidu.com">
	            		<img ng-src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=1984397460,1247901900&fm=58" style="width: 100%;">
	            	</a>
	            </div>
	            <div class="swiper-slide slide_threebox">
	            	<a href="http://www.baidu.com">
	            		<img ng-src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2929107248,2847899291&fm=58" style="width: 100%;">
	            	</a>
	            </div>
	            <div class="swiper-slide slide_threebox">
	            	<a href="http://www.baidu.com">
	            		<img ng-src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1038138514,2258678831&fm=58" style="width: 100%;">
	            	</a>
	            </div>
	        </div>
	        <!-- Add Pagination --> 
	        <div class="swiper-pagination slide_pagination"></div>
	        <!-- Add Arrows -->
	<!-- 				        <div class="swiper-button-next"></div>
	        <div class="swiper-button-prev"></div> -->
	    </div>

      	<div class="swiper-container nav_onebox">
        	<div class="swiper-wrapper nav_twobox">
	            <div class="swiper-slide"><a href="javascript:;" ng-click="nav_a_click()"><img src="/qietu_img/1.png"></a></div>
	            <div class="swiper-slide"><a href="javascript:;"><img src="/qietu_img/2.png"></a></div>
	            <div class="swiper-slide"><a href="javascript:;"><img src="/qietu_img/3.png"></a></div>
	            <div class="swiper-slide"><a href="javascript:;"><img src="/qietu_img/4.png"></a></div>
	            <div class="swiper-slide"><a href="javascript:;"><img src="/qietu_img/5.png"></a></div>
	            <div class="swiper-slide"><a href="javascript:;"><img src="/qietu_img/6.png"></a></div>
	            <div class="swiper-slide"><a href="javascript:;"><img src="/qietu_img/7.png"></a></div>
	            <div class="swiper-slide"><a href="javascript:;"><img src="/qietu_img/8.png"></a></div>
	            <div class="swiper-slide"><a href="javascript:;"><img src="/qietu_img/010.png"></a></div>
	            <div class="swiper-slide"></div>
	            <div class="swiper-slide"><a href="javascript:;"><img src="/qietu_img/011.png"></a></div>
	            <div class="swiper-slide"></div>
	            <div class="swiper-slide"><a href="javascript:;"><img src="/qietu_img/012.png"></a></div>
	            <div class="swiper-slide"></div>
	            <div class="swiper-slide"></div>
	            <div class="swiper-slide"></div>

       		 </div>
        	<!-- Add Pagination -->
        	<div class="nav_pagination"><span class="swiper-pagination"></span></div>
    	</div>
	    <div class="myall_onebox">
	    	<div class="myall_twobox">
		    	<div>
		    		<a href="javascript:;"><img src="/qietu_img/11.png"></a>
		    		<a href="javascript:;"><img src="/qietu_img/22.png"></a>
		    	</div>
		    	<div>
		    		<a href="javascript:;"><img src="/qietu_img/33.png"></a>	
		    		<a href="javascript:;"><img src="/qietu_img/44.png"></a>
		    	</div>
			</div>
    	</div>
    	<!-- 无鸟用分隔条 -->
    	<div class="wuyong_huise" style="width: 750px;height: 18px;background-color: #E7E5E5;"></div>

		<!-- 地区热招 -->
		<div class="diqurezhao_onebox">
			<div class="diqurezhao_twobox">
				<div class="diqurezhao_title clearfix">
					<a href="javascript:;"><span class="fl">地区热招</span><i class="iconfont icon-quwang fr"></i></a>
				</div>
				<table class="diqurezhao_content">
					<tbody>
						<tr>
							<td><a href="javascript:;">司机</a></td>
							<td><a href="javascript:;">普工</a></td>
							<td><a href="javascript:;">快递</a></td>
							<td><a href="javascript:;">厨师</a></td>
						</tr>
						<tr>
							<td><a href="javascript:;">保安</a></td>
							<td><a href="javascript:;">销售</a></td>
							<td><a href="javascript:;">教师</a></td>
							<td><a href="javascript:;">钟点</a>工</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
    	<!-- 无鸟用分隔条 -->
    	<div class="wuyong_huise" style="width: 750px;height: 18px;background-color: #E7E5E5;"></div>

    	<!-- 热门分类 -->
    	<div class="remenfenlei_onebox">
    		<div class="remenfenlei_twobox">
				<div class="remenfenlei_title clearfix">
					<span class="fl">热门分类</span>
				</div>
<!-- 				热门分类-销售-原样模板
	    		<div class="Public_style remenfenlei_Sale clearfix">
	<ul class="Public_style_show remenfenlei_Sale_show_box fl">
		<li>销售</li>
		<li><a href="javascript:;">销售代表</a></li>
		<li><a href="javascript:;">电话销售</a></li>
		<li><a href="javascript:;">销售经理</a></li>
		<li><i ng-class="{true:'iconfont icon-fanhui-copy1',false:'iconfont icon-fanhui-copy'}[show_remenfenlei==1]" ng-click="remenfenlei_switch(1)"></i></li>
	</ul>
	<div class="Public_style_hidden remenfenlei_Sale_hidden_box" ng-if="show_remenfenlei==1">
		<ul>
			<li><a href="javascript:;">销售总监</a></li>
			<li><a href="javascript:;">汽车销售</a></li>
			<li><a href="javascript:;">医药销售</a></li>
			<li><a href="javascript:;">器械销售</a></li>
			<li><a href="javascript:;">网络销售</a></li>
			<li><a href="javascript:;">区域销售</a></li>
			<li><a href="javascript:;">客户经理</a></li>
			<li><a href="javascript:;">销售顾问</a></li>
		</ul>
	</div>
	    		</div> -->
<!-- 	    		热门分类隐藏起来的大盒子-原来样板
<div ng-show="remenfenlei_show_hidden_box">
		    		热门分类-酒店/旅游
		    		<div class="Public_style remenfenlei_Hotel clearfix">
						<ul class="Public_style_show remenfenlei_Hotel_show_box fl">
							<li>酒店/旅游</li>
							<li><a href="javascript:;">酒店前台</a></li>
							<li><a href="javascript:;">酒店服务员</a></li>
							<li><a href="javascript:;">行李员</a></li>
							<li><i ng-class="{true:'iconfont icon-fanhui-copy1',false:'iconfont icon-fanhui-copy'}[show_remenfenlei==13]" ng-click="remenfenlei_switch(13)"></i></li>
						</ul>
						<div class="Public_style_hidden remenfenlei_Hotel_hidden_box" ng-if="show_remenfenlei==13">
							<ul>
								<li><a href="javascript:;">大堂经理</a></li>
								<li><a href="javascript:;">酒店管理</a></li>
								<li><a href="javascript:;">酒店管家</a></li>
								<li><a href="javascript:;">试睡师</a></li>
								<li><a href="javascript:;">导游</a></li>
								<li><a href="javascript:;">旅游顾问</a></li>
								<li><a href="javascript:;">签证专员</a></li>
								<li><a href="javascript:;">订票员</a></li>
							</ul>
						</div>
		    		</div>
</div> -->
				<!-- 热门分类-ng-repeat显示 -->
	    		<div class="Public_style remenfenlei_Sale clearfix" ng-repeat="x in remenfenlei_data track by $index" ng-show="x.id<=6?true:remenfenlei_show_hidden_box==true?true:false">
					<ul class="Public_style_show remenfenlei_Sale_show_box fl">
						<li>{{x.industry}}</li>
						<li ng-repeat="a in x.industry_list.slice(0,3) track by $index"><a ui-sref="Recruit({job:x.id,jobcontent:$index})">{{a}}</a></li>
						<li><i ng-class="{true:'iconfont icon-fanhui-copy1',false:'iconfont icon-fanhui-copy'}[show_remenfenlei==x.id]" ng-click="remenfenlei_switch(x.id)"></i></li>
					</ul>
					<div class="Public_style_hidden remenfenlei_Sale_hidden_box" ng-if="show_remenfenlei==x.id">
						<ul>
							<li ng-repeat="b in x.industry_list.slice(3) track by $index"><a ui-sref="Recruit({job:x.id,jobcontent:$index+3})">{{b}}</a></li>
						</ul>
					</div>
	    		</div>

	    		<!-- 查看更多或收起全部的按钮 -->
	    		<div class="remenfeilei_look_collect" ng-click="remenfenlei_show_hidden_button()">
					<span ng-bind="remenfenlei_show_hidden"></span><i ng-class="{true:'iconfont icon-fanhui-copy1',false:'iconfont icon-fanhui-copy'}[remenfenlei_show_hidden_box]"></i>
	    		</div>




    		</div>
    	</div>
    	<!-- 无鸟用分隔条 -->
    	<div class="wuyong_huise" style="width: 750px;height: 18px;background-color: #E7E5E5;"></div>
		
		<!-- 名企校招 -->
		<div class="enterprise_onebox">
			<div class="enterprise_twobox">
				<div class="enterprise_title clearfix"><span class="fl">名企校招</span></div>

		      	<div class="swiper-container enterprise_list_onebox">
		        	<div class="swiper-wrapper enterprise_list_twobox">
			            <div class="swiper-slide one two"><a href="javascript:;"><img src="/qietu_img/111.png"></a></div>
			            <div class="swiper-slide one two"><a href="javascript:;"><img src="/qietu_img/222.png"></a></div>
			            <div class="swiper-slide one"><a href="javascript:;"><img src="/qietu_img/333.png"></a></div>
			            <div class="swiper-slide one"><a href="javascript:;"><img src="/qietu_img/444.png"></a></div>
			            <div class="swiper-slide one"><a href="javascript:;"><img src="/qietu_img/555.png"></a></div>
			            <div class="swiper-slide one"><a href="javascript:;"><img src="/qietu_img/666.png"></a></div>
			            <div class="swiper-slide one"><a href="javascript:;"><img src="/qietu_img/777.png"></a></div>
			            <div class="swiper-slide one"><a href="javascript:;"><img src="/qietu_img/888.png"></a></div>
			            <div class="swiper-slide one three"><a href="javascript:;"><img src="/qietu_img/001.png"></a></div>
			            <div class="swiper-slide one three"><a href="javascript:;"><img src="/qietu_img/002.png"></a></div>
			            <div class="swiper-slide one"><a href="javascript:;"><img src="/qietu_img/003.png"></a></div>
			            <div class="swiper-slide one"><a href="javascript:;"><img src="/qietu_img/004.png"></a></div>
			            <div class="swiper-slide one"><a href="javascript:;"><img src="/qietu_img/005.png"></a></div>
			            <div class="swiper-slide one"><a href="javascript:;"><img src="/qietu_img/006.png"></a></div>
			            <div class="swiper-slide one"><a href="javascript:;"><img src="/qietu_img/007.png"></a></div>
			            <div class="swiper-slide one"><a href="javascript:;"><img src="/qietu_img/008.png"></a></div>

		       		 </div>
		        	<!-- Add Pagination -->
		        	<div class="nav_pagination"><span class="swiper-pagination"></span></div>
		    	</div>
			</div>
		</div>
    	<!-- 无鸟用分隔条 -->
    	<div class="wuyong_huise" style="width: 750px;height: 18px;background-color: #E7E5E5;"></div>

		<!-- 热门兼职 -->
		<div class="remenjianzhi_onebox">
			<div class="remenjianzhi_twobox">
				<div class="remenjianzhi_title clearfix">
					<span class="fl">热门兼职</span>
				</div>
				<table class="remenjianzhi_content">
					<tbody>
						<tr>
							<td><a href="javascript:;">传单派发</a></td>
							<td><a href="javascript:;">推广兼职</a></td>
							<td><a href="javascript:;">家教翻译</a></td>
							<td><a href="javascript:;">服务员</a></td>
						</tr>
						<tr>
							<td><a href="javascript:;">钟点工</a></td>
							<td><a href="javascript:;">市场销售</a></td>
							<td><a href="javascript:;">实习生</a></td>
							<td><a href="javascript:;">校园代理</a></td>
						</tr>
						<tr>
							<td><a href="javascript:;">客服话务</a></td>
							<td><a href="javascript:;">展会演出</a></td>
							<td><a href="javascript:;">礼仪演出</a></td>
							<td><a href="javascript:;">安保人员</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
    	<!-- 无鸟用分隔条 -->
    	<div class="wuyong_huise" style="width: 750px;height: 18px;background-color: #E7E5E5;"></div>
    	<!-- 最新兼职 -->
		<div class="zuixinjianzhi_onebox">
			<div class="zuixinjianzhi_twobox">
				<div class="zuixinjianzhi_title clearfix">
					<span class="fl">最新兼职</span>
				</div>
				<div class="zuixinjianzhi_content">
					<div class="clearfix"><a href="javascript:;"><span>福永飞机场递四方招短期分拣</span><span>170元/天</span></a></div>
					<div class="clearfix"><a href="javascript:;"><span>高薪聘请展会促销员多名平均工资180/天</span><span>100元/天</span></a></div>
					<div class="clearfix"><a href="javascript:;"><span>温雅集团招聘派单兼职</span><span>100.0元/天</span></a></div>
					<div class="clearfix"><a href="javascript:;"><span>长白班坐班急聘临时工普工包吃住</span><span>18元/小时</span></a></div>
					<div class="clearfix"><a href="javascript:;"><span>清湖硅谷动力女生临时工包住宿</span><span>17元/时</span></a></div>
				</div>
			</div>
		</div>
    	<!-- 无鸟用分隔条 -->
    	<div class="wuyong_huise" style="width: 750px;height: 18px;background-color: #E7E5E5;"></div>
		<div>
			<img src="/qietu_img/009.png">
		</div>



    </div><!-- 内容盒子终点 -->
